.csslider {
  perspective: 1300px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type( 48):checked ~ ul li:first-of-type {
  margin-left: -4700%;
}
.csslider > input:nth-of-type( 47):checked ~ ul li:first-of-type {
  margin-left: -4600%;
}
.csslider > input:nth-of-type( 46):checked ~ ul li:first-of-type {
  margin-left: -4500%;
}
.csslider > input:nth-of-type( 45):checked ~ ul li:first-of-type {
  margin-left: -4400%;
}
.csslider > input:nth-of-type( 44):checked ~ ul li:first-of-type {
  margin-left: -4300%;
}
.csslider > input:nth-of-type( 43):checked ~ ul li:first-of-type {
  margin-left: -4200%;
}
.csslider > input:nth-of-type( 42):checked ~ ul li:first-of-type {
  margin-left: -4100%;
}
.csslider > input:nth-of-type( 41):checked ~ ul li:first-of-type {
  margin-left: -4007%;
}
.csslider > input:nth-of-type( 40):checked ~ ul li:first-of-type {
  margin-left: -3900%;
}
.csslider > input:nth-of-type( 39):checked ~ ul li:first-of-type {
  margin-left: -3800%;
}
.csslider > input:nth-of-type( 38):checked ~ ul li:first-of-type {
  margin-left: -3700%;
}
.csslider > input:nth-of-type( 37):checked ~ ul li:first-of-type {
  margin-left: -3600%;
}
.csslider > input:nth-of-type( 36):checked ~ ul li:first-of-type {
  margin-left: -3500%;
}
.csslider > input:nth-of-type( 35):checked ~ ul li:first-of-type {
  margin-left: -3390%;
}
.csslider > input:nth-of-type( 34):checked ~ ul li:first-of-type {
  margin-left: -3300%;
}
.csslider > input:nth-of-type( 33):checked ~ ul li:first-of-type {
  margin-left: -3200%;
}
.csslider > input:nth-of-type( 32):checked ~ ul li:first-of-type {
  margin-left: -3100%;
}
.csslider > input:nth-of-type( 31):checked ~ ul li:first-of-type {
  margin-left: -3000%;
}
.csslider > input:nth-of-type( 30):checked ~ ul li:first-of-type {
  margin-left: -2900%;
}
.csslider > input:nth-of-type( 29):checked ~ ul li:first-of-type {
  margin-left: -2800%;
}
.csslider > input:nth-of-type( 28):checked ~ ul li:first-of-type {
  margin-left: -2700%;
}
.csslider > input:nth-of-type( 27):checked ~ ul li:first-of-type {
  margin-left: -2600%;
}
.csslider > input:nth-of-type( 26):checked ~ ul li:first-of-type {
  margin-left: -2500%;
}
.csslider > input:nth-of-type( 25):checked ~ ul li:first-of-type {
  margin-left: -2400%;
}
.csslider > input:nth-of-type( 24):checked ~ ul li:first-of-type {
  margin-left: -2318%;
}
.csslider > input:nth-of-type( 23):checked ~ ul li:first-of-type {
  margin-left: -2220%;
}
.csslider > input:nth-of-type( 22):checked ~ ul li:first-of-type {
  margin-left: -2123%;
}
.csslider > input:nth-of-type( 21):checked ~ ul li:first-of-type {
  margin-left: -2020%;
}
.csslider > input:nth-of-type( 20):checked ~ ul li:first-of-type {
  margin-left: -1917%;
}
.csslider > input:nth-of-type( 19):checked ~ ul li:first-of-type {
  margin-left: -1820%;
}
.csslider > input:nth-of-type( 18):checked ~ ul li:first-of-type {
  margin-left: -1718%;
}
.csslider > input:nth-of-type( 17):checked ~ ul li:first-of-type {
  margin-left: -1615%;
}
.csslider > input:nth-of-type( 16):checked ~ ul li:first-of-type {
  margin-left: -1515%;
}
.csslider > input:nth-of-type( 15):checked ~ ul li:first-of-type {
  margin-left: -1411%;
}
.csslider > input:nth-of-type( 14):checked ~ ul li:first-of-type {
  margin-left: -1310%;
}
.csslider > input:nth-of-type( 13):checked ~ ul li:first-of-type {
  margin-left: -1210%;
}
.csslider > input:nth-of-type( 12):checked ~ ul li:first-of-type {
  margin-left: -1110%;
}
.csslider > input:nth-of-type( 11):checked ~ ul li:first-of-type {
  margin-left: -1009%;
}
.csslider > input:nth-of-type( 10):checked ~ ul li:first-of-type {
  margin-left: -909%;
}
.csslider > input:nth-of-type( 9):checked ~ ul li:first-of-type {
  margin-left: -807%;
}
.csslider > input:nth-of-type( 8):checked ~ ul li:first-of-type {
  margin-left: -706%;
}
.csslider > input:nth-of-type( 7):checked ~ ul li:first-of-type {
  margin-left: -606%;
}
.csslider > input:nth-of-type( 6):checked ~ ul li:first-of-type {
  margin-left: -504%;
}
.csslider > input:nth-of-type( 5):checked ~ ul li:first-of-type {
  margin-left: -403%;
}
.csslider > input:nth-of-type( 4):checked ~ ul li:first-of-type {
  margin-left: -301%;
}
.csslider > input:nth-of-type( 3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type( 2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type( 1):checked ~ ul li:first-of-type {
  margin-left: -00%;
}
.csslider > ul {
  position: relative;
  width: 260px;
  height: 320px;
	top: 10px;
	left: 0px;
  z-index: 1;
  font-size: 20px;
  line-height: 30px;
  background-color: #ebebeb00;
  border: 0px solid #ebebeb;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../img/book.jpg');
}

.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
/*  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1); */
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: -8px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3a3a3a;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #71ad37;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after,
.csslider > input:nth-of-type(12):checked ~ .navigation label:nth-of-type(12):after,
.csslider > input:nth-of-type(13):checked ~ .navigation label:nth-of-type(13):after,
.csslider > input:nth-of-type(14):checked ~ .navigation label:nth-of-type(14):after,
.csslider > input:nth-of-type(15):checked ~ .navigation label:nth-of-type(15):after,
.csslider > input:nth-of-type(16):checked ~ .navigation label:nth-of-type(16):after,
.csslider > input:nth-of-type(17):checked ~ .navigation label:nth-of-type(17):after,
.csslider > input:nth-of-type(18):checked ~ .navigation label:nth-of-type(18):after,
.csslider > input:nth-of-type(19):checked ~ .navigation label:nth-of-type(19):after,
.csslider > input:nth-of-type(20):checked ~ .navigation label:nth-of-type(20):after,
.csslider > input:nth-of-type(21):checked ~ .navigation label:nth-of-type(21):after,
.csslider > input:nth-of-type(22):checked ~ .navigation label:nth-of-type(22):after,
.csslider > input:nth-of-type(23):checked ~ .navigation label:nth-of-type(23):after,
.csslider > input:nth-of-type(24):checked ~ .navigation label:nth-of-type(24):after,
.csslider > input:nth-of-type(25):checked ~ .navigation label:nth-of-type(25):after,
.csslider > input:nth-of-type(26):checked ~ .navigation label:nth-of-type(26):after,
.csslider > input:nth-of-type(27):checked ~ .navigation label:nth-of-type(27):after,
.csslider > input:nth-of-type(28):checked ~ .navigation label:nth-of-type(28):after,
.csslider > input:nth-of-type(29):checked ~ .navigation label:nth-of-type(29):after,
.csslider > input:nth-of-type(30):checked ~ .navigation label:nth-of-type(30):after,
.csslider > input:nth-of-type(31):checked ~ .navigation label:nth-of-type(31):after,
.csslider > input:nth-of-type(32):checked ~ .navigation label:nth-of-type(32):after, 
.csslider > input:nth-of-type(33):checked ~ .navigation label:nth-of-type(33):after, 
.csslider > input:nth-of-type(34):checked ~ .navigation label:nth-of-type(34):after, 
.csslider > input:nth-of-type(35):checked ~ .navigation label:nth-of-type(35):after, 
.csslider > input:nth-of-type(36):checked ~ .navigation label:nth-of-type(36):after, 
.csslider > input:nth-of-type(37):checked ~ .navigation label:nth-of-type(37):after, 
.csslider > input:nth-of-type(38):checked ~ .navigation label:nth-of-type(38):after, 
.csslider > input:nth-of-type(39):checked ~ .navigation label:nth-of-type(39):after, 
.csslider > input:nth-of-type(40):checked ~ .navigation label:nth-of-type(40):after, 
.csslider > input:nth-of-type(41):checked ~ .navigation label:nth-of-type(41):after, 
.csslider > input:nth-of-type(42):checked ~ .navigation label:nth-of-type(42):after, 
.csslider > input:nth-of-type(43):checked ~ .navigation label:nth-of-type(43):after, 
.csslider > input:nth-of-type(44):checked ~ .navigation label:nth-of-type(44):after, 
.csslider > input:nth-of-type(45):checked ~ .navigation label:nth-of-type(45):after, 
.csslider > input:nth-of-type(46):checked ~ .navigation label:nth-of-type(46):after, 
.csslider > input:nth-of-type(47):checked ~ .navigation label:nth-of-type(47):after, 
.csslider > input:nth-of-type(48):checked ~ .navigation label:nth-of-type(48):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  left: 31px;
  top: 50%;
  width: 100%;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3a3a3a;
  cursor: pointer;
/*  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s; */
  transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #71ad37;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(12):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(13):checked ~ .arrows > label:nth-of-type(12),
.csslider > input:nth-of-type(14):checked ~ .arrows > label:nth-of-type(13),
.csslider > input:nth-of-type(15):checked ~ .arrows > label:nth-of-type(14),
.csslider > input:nth-of-type(16):checked ~ .arrows > label:nth-of-type(15),
.csslider > input:nth-of-type(17):checked ~ .arrows > label:nth-of-type(16),
.csslider > input:nth-of-type(18):checked ~ .arrows > label:nth-of-type(17),
.csslider > input:nth-of-type(19):checked ~ .arrows > label:nth-of-type(18),
.csslider > input:nth-of-type(20):checked ~ .arrows > label:nth-of-type(19),
.csslider > input:nth-of-type(21):checked ~ .arrows > label:nth-of-type(20),
.csslider > input:nth-of-type(22):checked ~ .arrows > label:nth-of-type(21),
.csslider > input:nth-of-type(23):checked ~ .arrows > label:nth-of-type(22),
.csslider > input:nth-of-type(24):checked ~ .arrows > label:nth-of-type(23),
.csslider > input:nth-of-type(25):checked ~ .arrows > label:nth-of-type(24),
.csslider > input:nth-of-type(26):checked ~ .arrows > label:nth-of-type(25),
.csslider > input:nth-of-type(27):checked ~ .arrows > label:nth-of-type(26),
.csslider > input:nth-of-type(28):checked ~ .arrows > label:nth-of-type(27),
.csslider > input:nth-of-type(29):checked ~ .arrows > label:nth-of-type(28),
.csslider > input:nth-of-type(30):checked ~ .arrows > label:nth-of-type(29),
.csslider > input:nth-of-type(31):checked ~ .arrows > label:nth-of-type(30),
.csslider > input:nth-of-type(32):checked ~ .arrows > label:nth-of-type(31), 
.csslider > input:nth-of-type(33):checked ~ .arrows > label:nth-of-type(32), 
.csslider > input:nth-of-type(34):checked ~ .arrows > label:nth-of-type(33), 
.csslider > input:nth-of-type(35):checked ~ .arrows > label:nth-of-type(34), 
.csslider > input:nth-of-type(36):checked ~ .arrows > label:nth-of-type(35), 
.csslider > input:nth-of-type(37):checked ~ .arrows > label:nth-of-type(36), 
.csslider > input:nth-of-type(38):checked ~ .arrows > label:nth-of-type(37), 
.csslider > input:nth-of-type(39):checked ~ .arrows > label:nth-of-type(38), 
.csslider > input:nth-of-type(40):checked ~ .arrows > label:nth-of-type(39), 
.csslider > input:nth-of-type(41):checked ~ .arrows > label:nth-of-type(40), 
.csslider > input:nth-of-type(42):checked ~ .arrows > label:nth-of-type(41), 
.csslider > input:nth-of-type(43):checked ~ .arrows > label:nth-of-type(42), 
.csslider > input:nth-of-type(44):checked ~ .arrows > label:nth-of-type(43), 
.csslider > input:nth-of-type(45):checked ~ .arrows > label:nth-of-type(44), 
.csslider > input:nth-of-type(46):checked ~ .arrows > label:nth-of-type(45), 
.csslider > input:nth-of-type(47):checked ~ .arrows > label:nth-of-type(46), 
.csslider > input:nth-of-type(48):checked ~ .arrows > label:nth-of-type(47) {
  display: block;
  left: 0;
  right: auto;
/*  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);*/
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12),
.csslider > input:nth-of-type(12):checked ~ .arrows > label:nth-of-type(13),
.csslider > input:nth-of-type(13):checked ~ .arrows > label:nth-of-type(14),
.csslider > input:nth-of-type(14):checked ~ .arrows > label:nth-of-type(15),
.csslider > input:nth-of-type(15):checked ~ .arrows > label:nth-of-type(16),
.csslider > input:nth-of-type(16):checked ~ .arrows > label:nth-of-type(17),
.csslider > input:nth-of-type(17):checked ~ .arrows > label:nth-of-type(18),
.csslider > input:nth-of-type(18):checked ~ .arrows > label:nth-of-type(19),
.csslider > input:nth-of-type(19):checked ~ .arrows > label:nth-of-type(20),
.csslider > input:nth-of-type(20):checked ~ .arrows > label:nth-of-type(21),
.csslider > input:nth-of-type(21):checked ~ .arrows > label:nth-of-type(22),
.csslider > input:nth-of-type(22):checked ~ .arrows > label:nth-of-type(23),
.csslider > input:nth-of-type(23):checked ~ .arrows > label:nth-of-type(24),
.csslider > input:nth-of-type(24):checked ~ .arrows > label:nth-of-type(25),
.csslider > input:nth-of-type(25):checked ~ .arrows > label:nth-of-type(26),
.csslider > input:nth-of-type(26):checked ~ .arrows > label:nth-of-type(27),
.csslider > input:nth-of-type(27):checked ~ .arrows > label:nth-of-type(28),
.csslider > input:nth-of-type(28):checked ~ .arrows > label:nth-of-type(29),
.csslider > input:nth-of-type(29):checked ~ .arrows > label:nth-of-type(30),
.csslider > input:nth-of-type(30):checked ~ .arrows > label:nth-of-type(31),
.csslider > input:nth-of-type(31):checked ~ .arrows > label:nth-of-type(32), 
.csslider > input:nth-of-type(32):checked ~ .arrows > label:nth-of-type(33), 
.csslider > input:nth-of-type(33):checked ~ .arrows > label:nth-of-type(34), 
.csslider > input:nth-of-type(34):checked ~ .arrows > label:nth-of-type(35), 
.csslider > input:nth-of-type(35):checked ~ .arrows > label:nth-of-type(36), 
.csslider > input:nth-of-type(36):checked ~ .arrows > label:nth-of-type(37), 
.csslider > input:nth-of-type(37):checked ~ .arrows > label:nth-of-type(38), 
.csslider > input:nth-of-type(38):checked ~ .arrows > label:nth-of-type(39), 
.csslider > input:nth-of-type(39):checked ~ .arrows > label:nth-of-type(40), 
.csslider > input:nth-of-type(40):checked ~ .arrows > label:nth-of-type(41), 
.csslider > input:nth-of-type(41):checked ~ .arrows > label:nth-of-type(42), 
.csslider > input:nth-of-type(42):checked ~ .arrows > label:nth-of-type(43), 
.csslider > input:nth-of-type(43):checked ~ .arrows > label:nth-of-type(44), 
.csslider > input:nth-of-type(44):checked ~ .arrows > label:nth-of-type(45), 
.csslider > input:nth-of-type(45):checked ~ .arrows > label:nth-of-type(46), 
.csslider > input:nth-of-type(46):checked ~ .arrows > label:nth-of-type(47), 
.csslider > input:nth-of-type(47):checked ~ .arrows > label:nth-of-type(48) {
  display: block;
  right: 0;
  left: auto;
  transform: rotate(225deg);
}

