/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* размер шрифта
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

/* OpenSansRegular */
@font-face {
	font-family: 'OpenSans';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('../fonts/OpenSansRegular.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansRegular.woff')format('woff'); /* Modern Browsers */
}

/* OpenSansSemiBold */
@font-face {
font-family: 'OpenSans';
font-display: swap;
font-style: normal;
font-weight: 600;
src: local(''),
	url('../fonts/OpenSansSemiBold.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansSemiBold.woff')format('woff'); /* Modern Browsers */
}

/* OpenSansBold */
@font-face {
font-family: 'OpenSans';
font-display: swap;
font-style: normal;
font-weight: 700;
src: local(''),
	url('../fonts/OpenSansBold.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansBold.woff')format('woff'); /* Modern Browsers */
}

:root {
/*--main-bg #e7dd89;*/
--cell-grey: #C6C6C6;
--l-grey: rgba(245,245,245,1);
--e5-bg: rgba(213, 213, 213, 1);
--main-bg: #878787;
--main-bg-05: rgba(231, 221, 137, .5);
--main-bg-07: rgba(231, 221, 137, .7);
/* --main-bg: #004f7c ; */
--black-inversion: #fff;
--black-inversion-04: rgba(75, 74, 74, 0.4);
--black-inversion-05: rgba(255, 255, 255, 0.5);
--black-inversion-06: rgba(255, 255, 255, 0.6);
--black-inversion-09: rgba(255, 255, 255, 0.9);
--white-inversion: #000;
--amethyst: #004f7c;
--grey-black: #333;
--royal-purple: #044165;
--biloba-flower: #2e8bc0;
--lib: #ececec;
--heliotrope: #428cb7;
--heliotrope-04: rgba(66, 140, 183, 0.4);
--light-grey: #999;
--grey-accordion: #cacaca;
--plug: #b7b7b7;
--font-grey: #3A3A3A;
--form-button-color: #d11616!important;
--swiper-pagination-color: #666!important;
--modal-background: rgba(230, 230, 230, 0.8);
--target-background: rgba(159, 159, 159, 0.7);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

html {
font-family: 'OpenSans', sans-serif;
font-weight: 400;
}

* {
outline: none;
}

/* links */	    

	a {
	outline: none;
	text-decoration: none;
	padding: 1px;
	}

	a:link {
	color: var(--amethyst);
	}

	a:focus,
	a:hover {
	border-bottom: 1px solid;
	font-weight: bold;
	}

	a.custom:focus,
	a.custom:hover {
	border-bottom: 0px; 
	font-weight: bold; 
	}


/*	a:active {
	color: blue;
	}*/

	.ext_link {
	background: url(img/ext_link2.svg) no-repeat 100% 0;
	background-size: 16px 16px;
	padding-right: 19px;
	}


h1 {
margin: 0;
  text-align: center;
	font-size: 1px;
	color: white;
}

h2, h3, h4, h5, h6, p {
margin: 0;
  text-align: center;
}

button {
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
border:0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%
}

/* ??? */
.container article{
padding-left: 10%;
padding-right: 10%;
}

.btn-reset {
padding: 0;
margin: 0;
font-family: inherit;
background-color: transparent;
border: 0;
}

.btn {
padding: 20px 35px;
font-weight: bold;
font-size: 18px;
line-height: 25px;
font-family: inherit;
border-radius: 100px;
background-color: var(--amethyst);
border: 3px solid var(--amethyst);
color: var(--white-inversion);
}

button:active, button:focus {
outline: none;
}
button::-moz-focus-inner {
border: 0;
}

.cursor {
cursor: pointer;
}

.main-heading {
top: 150px;
left: -110px;
font-size: 50px;
line-height: 84px;
color: var(--amethyst);
}

.second-heading {
margin-bottom: 30px;
padding-left: 15px;
font-weight: normal;
font-size: 34px;
line-height: 65px;
color: var(--grey-black);
}

.main-text {
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: var(--grey-black);
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}


/* header */ 
.header {
position: relative;
overflow: hidden;
}

.add-swiper-container .swiper-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-background {
height: 100%;
/* animation: blanchard 6s 1s linear infinite alternate; */
}

.header-top {
position: fixed;
z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} 

.hero__heading, .hero__btn {
position: relative;
z-index: 2;
}

.swiper-background {
z-index: 0;
}

.header-top__menu-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.header-top__button {
display: block;
}

.header-top__button {
position: absolute;
top: 37px;
left: 50px;
}

.header__background {
background: center center no-repeat transparent;
background-size: cover;
}


.header-top__container {
position: relative;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
/*padding: 9px 175px;*/

  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:var(--e5-bg);
}

.header-top {
	top: 0;
	width: 100%;
 	background-color: var(--main-bg);
}


/* reference download from header */

.menu,
.title,
.links {
  display: inline-block;
  position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	max-width: 300px;
	width: 800%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	padding: 5px 5px;
	font-size: 14px;
	line-height: 25px;
	font-family: inherit;
	border-radius: 8px;
	background-color: rgba(210,210,210,0.9);
	border: 2px solid var(--amethyst);
	color: var(--white-inversion);
	z-index:99;
	}

.menu:hover .dropdown-content {
	display: block;
	}

.links:hover .dropdown-content {
	display: block;
	}

.dropdown-content a {
	display: block;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	}

.dropdown-content a:hover {
	color: #FFFFFF;
	background-color: #878787;
	}

.burger-button__icon {
position: relative;
width: 20px;
height: 12px;
border-top: 2px solid var(--white-inversion);
border-bottom: 2px solid var(--white-inversion);
}

.burger-button__icon:after {
content: '';
position: absolute;
top: -7px;
left: 0;
width: 20px;
height: 12px;
border-bottom: 2px solid var(--white-inversion);
}

.menu__container {
position: absolute;
margin-top: 128px;
left: 70px;
padding: 80px 15px 15px 15px;
max-width: 300px;
background-color: var(--main-bg);
border: 3px solid var(--amethyst);
border-radius: 20px;
-webkit-transition: all ease-out 0.5s;
-o-transition: all ease-out 0.5s;
transition: all ease-out 0.5s;
-webkit-transform-origin: top center;
		-ms-transform-origin: top center;
				transform-origin: top center;
-webkit-transform: scaleY(.2) translateY(-100%);
		-ms-transform: scaleY(.2) translateY(-100%);
				transform: scaleY(.2) translateY(-100%);
opacity: 0;
}

.menu__container.active {
-webkit-transform: scaleY(1) translateY(0);
		-ms-transform: scaleY(1) translateY(0);
				transform: scaleY(1) translateY(0);
opacity: 0.8;
}

.menu-btn__close {
margin-bottom: 17px;
padding: 15px 0;
}

.cross-sign {
width: 16px;
height: 16px;
background-image: url("img/cross.svg");
/*background: url(https://codernote.ru/files/cross.png) no-repeat center center;*/
background-size: 16px 16px;
display: block;
}

@-webkit-keyframes rota {
25% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rota {
25% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.cross-sign:hover {
-webkit-animation: rota 4s infinite normal;
				animation: rota 4s infinite normal;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.header-top__list {
display: block;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
}

.header-top__item:not(:last-child) {
margin-right: 30px;
margin-bottom: 10px;
}

.header-top__link {
position: relative;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: var(--white-inversion);
-webkit-transition: color .3s ease-out;
-o-transition: color .3s ease-out;
transition: color .3s ease-out;
}

.header-top__search {
cursor: pointer;
}

.hero__container {
padding-top: 236px;
padding-bottom: 200px;
}

.hero__heading {
margin-bottom: 22px;
max-width: 597px;
}

/* about-us */
.about-us__container {
padding-top: 80px;
padding-bottom: 70px;
}

.about-us__heading {
margin-bottom: 30px;
}

.about-us__descr {
max-width: 1080px;
}

/* section top margin */
.gallery,
.lib,
.intro {
		padding-top: 65px;
		padding-bottom: 10px;
	border-bottom: 1px solid var(--amethyst);
}

.gallery__heading {
margin-bottom: 30px;
}

.gallery__img,
.lib__img {
padding: 0px 0px;
width: 100%;
height: 100%;
}


      .intro img {
        object-fit: contain;
        width: 150px;
        height: auto;
		max-width: 70%;
		max-height: 70%;
	padding:10px;
      }
	  
	  .intro p {
		text-align: left;
		line-height: 1.5em;
		color: var(--font-grey);
		hyphens:auto;
		}

	  .article p {
		text-align: left;
		line-height: 1.5em;
		color: var(--font-grey);
		hyphens:auto;
		}

/*      .article img {
        object-fit: contain;
        max-width: 100%;
	max-height: 100%;
	color: var(--font-grey);
		}
	  
	  .article p {
		text-align: left;
		line-height: 1.5em;
		color: var(--font-grey);
	 }*/

/*.footer {
padding-top: 18px;
padding-bottom: 16px;
width: 100%;
height: 100%;
background-color: var(--main-bg);
list-style-type:none;
background: url(/img/footer.jpg) center center no-repeat transparent;
background-size: cover; 
}*/

/*.footer-container {
display: block;
align-items: center;
}*/

/*.footer__img {
margin-bottom: 20px;
width: 80px;
height: 50px;
}*/

/*.footer__bottom {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
width: 100%;
}*/

/*.contacts__second-heading {
margin-bottom: 30px;
}*/

/*.footer__phones {
margin-bottom: 15px;
}*/

/*.footer__tel {
display: block;
color: inherit;
text-decoration: none;
}*/

/*.footer__tel:not(:last-child) {
margin-bottom: 5px;
}*/

/*.footer__right {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
}*/

/*.footer__map-img {
max-width: 250px;
height: 183px;
}*/

/*.footer__map-img:not(:last-child) {
margin-right: 10px;
}*/

/*.copyrights {
	margin-top: -1px;
	padding: 3px;
	text-align: center;
	background-color: var(--main-bg);
}*/
/*.copyrights__link {
color: inherit;
}*/
/*.copyrights__link:hover {
color: var(--amethyst);
}*/


/* media */

@media (max-width: 1300px) {}


@media (max-width: 969px) {}


@media (max-width: 911px) {}


@media (max-width: 767px) {
	.link-button {
		background-color:var(--e5-bg);
		height:50px;
		width:50px;
		}
	.menu-button {
	background-color:var(--e5-bg);
	}

	.dropdown-content {
		font-size: 20px;
		line-height: 30px;
		}
	.header {
		/*350*/
		height: 10px;
	}
	.main-heading {
		left: 0;
		top: 224px;
	}
	.main-text {
		font-size: 12px;
		line-height: 20px;
	}
	.gallery,
	.lib 	{
		/*70*/
		padding-top: 70px;
	}
	.header-top__img {
		/*width: 50px;
		height: 32px;*/
	}
	.hero__heading {
		font-size: 34px;
	}
	.menu__container {
		left: 0;
	}

	.second-heading {
		font-size: 26px;
		line-height: 26px;
		text-align: center;
	}
	.lib__heading {
		margin-bottom: 15px;
	}
	.lib__img, 
	.gallery__img {
		width: 200px;
		height: 300px;
	}
	.footer {
		padding: 10px 0;
	}
	.contacts__second-heading {
		margin-bottom: 15px;
	}
	.container {
	padding-left: 5%;
	padding-right: 5%;
	}
	figure {
	  float: left;
	  width: 100%;
	  text-align: center;
	  text-indent: 0;
	  border: thin silver solid;
	  margin-left: 0;
	  margin-right: 0.5em;
	  padding: 0.5em;
	}
	.sample-slider{
	display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	height: auto;
	  border: 1px solid var(--amethyst);
	  float: left;
	  margin-right: 15px;
	  margin-bottom: 15px;
	  margin-top: 15px;
	}
	.title-a {
	display: none;
  	}
  	.title-b {
    	display: inline-block;
  	}
	}	

@media (min-width: 768px) {
	.link-button {
	background-color:var(--e5-bg);
	height:50px;
	width:50px;
	}
	.menu-button {
	height:50px;
	width:50px;
	align-content: center;
	background-color:var(--e5-bg);
	}
	.dropdown-content {
	font-size: 18px;
	line-height: 35px;
	}
	.container {
	padding-left: 10%;
	padding-right: 10%;
	max-width: 1602px;
	}
	.header-top__container {
	max-width: 3000px;
	}
	figure {
	  max-width: 40%;
	  text-align: center;
	  font-style: italic;
	  font-size: smaller;
	  text-indent: 0;
	  border: thin silver solid;
	  margin: 1em;
	  padding: 0.5em;
	}
	.sample-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: auto;
	border: 1px solid var(--amethyst);
	float: left;
	margin:1em;
	padding:0.5em;
	}
	.title-b {
	display: none;
  	}
  	.title-a {
    	display: inline-block;
  	}
}

/*	shared	*/

	.menu-button {
	display:block;
	}
	.link-button {
	display:block;
	}
	.menu-button img {
	padding:5px;
	height:32px;
	width:32px;
	}
	.link-button img {
	padding:5px;
	height:32px;
	width:32px;
	}

figcaption {
  color: var(--font-grey);
}

img.scaled {
  width: 100%;
}

.bg-color {
	background-color: #F8DEA9;
}
